.mascotas .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Clase para ocultar el formulario */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  z-index: 900;
}
#form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: white; */
  /* padding: 1.5rem; */
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 1000;
}
/* #form-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(235, 235, 235, 0.4);
  z-index: -1;
} */
#form-container input[type="text"] {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}
#form-container button {
  display: block;
  width: 100%;
}