.text_pink_custom {
  color: #EB6372 ;
}

.text_simple{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.home__body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  align-items: center;
}

.home__body__buttons{
  display: flex;
  flex-direction: column;
  gap:10px
}

.home__body__buttons > button{
  width: 335px;
  height: 50px;
}

@media(min-width: 720px){
  .home__body__buttons{
    flex-direction: row;
  }
}

.home{
  display: flex;
  height: 70vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}