.card_main_img{
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
}
.card_button_img{
  width: 18px;
  height: 18px;
}
.card {
  transition: transform 0.2s ease;
}
.card:hover {
  transform: translateY(-5px);
}